<!--Подключение header-->

{% include 'films/header.html' %}
<h1 style="text-align: center">Список фильмов</h1>
<br>
{% for i in film_key %}
<center>
    <div class="qwerty">
        <div class="card" style="width: 18rem;">
          <img src="{{i.image.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{i.title}}</h5>
            <p class="card-text">{{i.description}}</p>
            <a href="/film_detail/{{i.id}}" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
    </div>
    <br><br>
    </center>
{% endfor %}


<!--Подключение футера-->
{% include 'films/footer.html' %}


<!--    <button class="btn__menu"><a href="">Главная</a></button>-->
<!--    <button class="btn__menu"><a href="">Контакты</a></button>-->
<!--    <button class="btn__menu"><a href="">О нас</a></button>-->
<!--    <button class="btn__menu"><a href="/programm_lang/">Блог</a></button>-->
<!--    <button class="btn__menu"><a href="/admin/">Админка</a></button>-->

<!--    <ul>-->
<!--        <li>фильм</li>-->
<!--        <li>фильм</li>-->
<!--        <li>фильм</li>-->
<!--        <li>фильм</li>-->
<!--    </ul>-->

<!--    <ol>-->
<!--        <li>фильм1</li>-->
<!--        <li>фильм2</li>-->
<!--        <li>фильм3</li>-->
<!--        <li>фильм4</li>-->
<!--    </ol>-->

