<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<h1>{{film_id_key.title}}</h1>
<h2>{{film_id_key.director}}</h2>
<p><b>{{film_id_key.description}}</b></p>
<img src="{{film_id_key.image.url}}" alt="image">
<p><i>{{film_id_key.genre}}</i></p>
<p><b>{{film_id_key.cost}}</b></p>
<iframe src="{{film_id_key.trailer}}" frameborder="0"></iframe>
<button><a href="/film_detail/{{film_id_key.id}}/delete/">Удалить</a></button>
<button><a href="">Изменить</a></button>

</body>
</html>