{% include 'films/header.html' %}
<center>
<div class="card" style="width: 18rem;">
  <img src="{{film_id_key.image.url}}" class="card-img-top" alt="...">
  <div class="card-body">
       <h1>{{film_id_key.title}}</h1>
    <h2>{{film_id_key.director}}</h2>
    <p class="card-text">{{film_id_key.description}}</p>
      <p class="card-text">{{film_id_key.genre}}</p>
      <p class="card-text">{{film_id_key.cost}}</p>
  </div>
</div>
    <iframe src="{{film_id_key.trailer}}" frameborder="0" width="640" height="420"></iframe>
    <br>
    <button type="button" class="btn btn-danger"><a style="text-decoration: none href="/film_detail/{{film_id_key.id}}/delete/">Удалить</a></button>

    <button type="button" class="btn btn-warning"><a style="text-decoration: none" href="/film_detail/{{film_id_key.id}}/update/">Изменить</a></button>
    <br><br>
</center>
{% include 'films/footer.html' %}